{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div>
            {% if item.name == 'patch_cord' %}
                <h1>Detail Item: Patch Cord</h1>
            {% endif %}
            {% if item.name == 'sfp' %}
                <h1>Detail Item: SFP</h1>
            {% endif %}
            {% if item.name == 'iom' %}
                <h1>Detail Item: IOM</h1>
            {% endif %}
            {% if item.name == 'mda' %}
                <h1>Detail Item: MDA</h1>
            {% endif %}
        </div>
        {% if item.type != '-'  %}
            <div>
                <p>Type: {{ item.type }}</p>
            </div>
        {% endif %}
        {% if item.in_timestamp != '-'  %}
            <div>
                <p>Date Added: {{ item.timestamp }}</p>
            </div>
        {% endif %}
        {% if item.user_id != '-'  %}
            <div>
                <p>Added By: {{ item.user_id }}</p>
            </div>
        {% endif %}
        {% if item.serial_number != '-' %}
            <div>
                <p>Serial Number: {{ item.serial_number }}</p>
            </div>
        {% endif %}
        {% if item.product_number != '-' %}
            <div>
                <p>Product Number: {{ item.product_number }}</p>
            </div>
        {% endif %}
        {% if item.length != '-'  %}
            <div>
                <p>Length: {{ item.length }}</p>
            </div>
        {% endif %}
        {% if item.capacity != '-'  %}
            <div>
                <p>Capacity: {{ item.capacity }}</p>
            </div>
        {% endif %}
        {% if item.status != '-'  %}
            <div>
                <p>Note: {{ item.note }}</p>
            </div>
        {% endif %}
        {% if item.note != '-'  %}
            <div>
                <p>Note: {{ item.note }}</p>
            </div>
        {% endif %}
        {% if item.in_url_record_of_transfer == '-' %}
            <div>
                <p>Berita Acara:</p>
                -
            </div>
        {% else %}
            <div>
                <p>Berita Acara Masuk:</p>
                <img src="{{ item.in_url_record_of_transfer }}" alt="{{ item.in_filename_record_of_transfer }}" style="width:600px;height:450px;">
            </div>
        {% endif %}
        {% if item.out_url_record_of_transfer and item.status == 'taken-out' %}
            <div>
                <p>Berita Acara Keluar:</p>
                <img src="{{ item.out_url_record_of_transfer }}" alt="{{ item.out_filename_record_of_transfer }}" style="width:600px;height:450px;">
            </div>
        {% endif %}
    </div>
{% endblock %}